.app {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
  }
  
  .navbar {
    background-color: white;
    color:#1e212d;
    padding: .2rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .dashboard-layout {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 150px;
    background-color: white;
    color: white;
    padding: 1rem;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }